{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

    <div class="soustitre"> <h2>Contact</h2> </div>
<main class="contact1">

{% for message in app.flashes('contact_success') %}
    <div class="alert alert-primary text-center">
        {{ message }}
    </div>
{% endfor %}
        

            <div class="contactez-nous">
                <p>Un problème, une question, envie de nous envoyer un message d’amour ? <br> N’hésitez pas à utiliser ce formulaire pour prendre contact avec nous !</p><br>

                {{ form_start(formContact) }}
                <div>
                <label for="nom">Votre nom</label><br>
                {{ form_widget(formContact.nom) }}
                </div>
               
                <div>
                <label for="nom">Votre prenom</label><br>
                {{ form_widget(formContact.prenom) }}
                </div>

                
                <div>
                <label for="nom">Votre email</label><br>
                {{ form_widget(formContact.email) }}
                </div>
                
                <div>
                <label for="nom">Votre sujet</label><br>
                {{ form_widget(formContact.sujet) }}
                </div>
                
                <div>
                <label for="nom">Votre message </label> <br>
                {{ form_widget(formContact.message) }}
                </div>
                
                <div>
                <button type="submit" value="Envoyer">
                 {{ form_end(formContact) }}
                </div>
                
               
            </div> 

        

     <div class="contact2">
        Galerie Cybèle<br>
        7 rue Beaubourg Paris (75003)<br>
        +33 1 09 08 07 06<br>
        bonjour@galeriecybèle.fr<br>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.8551215675707!2d2.3507833155834628!3d48.86097300847907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1c7d0b51ff%3A0x380df527f06431d7!2s7%20Rue%20Beaubourg%2C%2075004%20Paris!5e0!3m2!1sfr!2sfr!4v1679318831987!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</main>

{% endblock %}
